html {
  background-image: url('https://aquarianspirals.files.wordpress.com/2014/08/ocean-beach-wave-background-hd-wallpaper-desktop.jpg');
  background-size: auto;
}

body {
  font-family: 'Oxanium';
  margin: 0;
  width: 100%;
  overflow: hidden;
}



#lastViewed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#app {
  display: flex;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.668);
  margin: 0 10vw 0 10vw;
  height: 100vw;
}

.addressForm {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.413);
  border: none;
}

form {
  border: solid 1px black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

.horizontal {
  display: flex;
}

.horizontal > * {
  flex: 1;
  margin: 1rem;
  border: solid 1px dodgerBlue;
  padding: 1rem;
}

ul {
  padding: 0;
  border-radius: 15px;
}

ul::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  flex-direction: column;
}

div > ul > li {
  border-bottom: solid 1px teal;
}

li > * {
  margin-bottom: 0.5rem;
}

.quantity {
  color: teal;
  font-weight: bold;
}

button {
  background-color: red;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Righteous';
}

nav {
  background-color: rgba(0, 0, 0, 0.859);

  width: 100vw;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Righteous';
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

#productPage {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  padding: 60px;
  /* height: 10px; */
}

#cart img {
  height: 75px;
  width: 75px;
}

#orders img {
  width: 50px;
  height: 50px;
}

#productPage img {
  width: 200px;
  height: 200px;
}

#saved li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#saved div {
  display: flex;
  justify-content: center;
}

#saved p {
  text-align: center;
}

#savedProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#savedProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 32px 0 32px;
  overflow: scroll;
  height: 70vh;
  width: 80%;
  background-color: rgba(242, 242, 242, 0.502);
}

#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
}
#saved {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
}

#productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  overflow: scroll;
  background-color: rgba(242, 242, 242, 0.502);
}
#productsList > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  text-align: center;
}

#cart {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  align-items: center;
}

#products li {
  width: 20%;

  justify-content: flex-end;
}

a > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

#products img {
  border: 7px solid red;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.516);
}

#products a {
  font-family: 'Righteous';
  text-decoration: none;
  color: teal;
  font-size: 16px;
}

#orders a {
  text-decoration: none;
  color: teal;
  font-family: 'Righteous';
  font-size: 16px;
}

#cart a {
  text-decoration: none;
  color: teal;
  font-size: 16px;
  font-family: 'Righteous';
}

li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

#cart ul {
  display: flex;
  flex-direction: column;
  height: 35vh;
  overflow: scroll;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.502);
}

#cart li {
  display: flex;
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
#login {
  width: 100%;
  border: none;
  padding: 16 25vw 0 25vw;
}

h2 {
  text-align: center;

  font-family: 'Righteous';
}
h1 {
  text-align: center;
  font-family: 'Righteous';
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px;
}

#orders {
  padding: 32px;
}

#orders > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  height: 75vh;
}

#orders > ul > li {
  background-color: rgba(242, 242, 242, 0.502);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#orders > ul > li > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#orders ul li ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

img {
  border-radius: 50%;
}

#admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.667);

  padding: 16px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 70%;

  text-align: center;
  font-family: arial;
  background-color: rgba(242, 242, 242, 0.502);
}

#productPage.card {
  padding: 16px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

img.img-home {
  border: solid 2px;
  border-radius: 0% !important;
}